# Read ARCH from .curarch if present, else default to riscv64
curarch_file="$(git rev-parse --show-toplevel)/.curarch"
if [ -f "$curarch_file" ]; then
  export ARCH=$(<"$curarch_file")
else
  export ARCH="riscv64"
fi

use flake ".#all-$ARCH"
