result
results
results*
result.tmp*
out
outdir
__pycache__
.direnv
.curarch
*.core
.gdb_history
diffuzz-client
undoc-enum
print-fuzing-value-map
repro
input-generator
repro-runner

reproducer-*
!reproducer-*.yaml
